---
import { data } from '@/data/data.js';

type Props = {
  class?: string;
};

const { class: className, ...rest } = Astro.props;
const skills = await data.skills.find();
---

<div class:list={['skills', className]} {...rest}>
  <h2>Skills</h2>
  <div class="skill">
    {
      skills.map((item) => (
        <div class="item">
          <h3>{item.data.name}</h3>
          <ul>
            {item.data.technologies.map((tech) => (
              <li>{tech}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>

<style>
  h2 {
    font-size: var(--font-xl);
    margin-bottom: var(--space-lg);
  }

  .skill {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
  }

  .item {
    break-inside: avoid;
  }

  h3 {
    font-size: var(--font-lg);
    margin-bottom: var(--space-md);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-right: var(--space-sm);
    margin-bottom: var(--space-sm);
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-border);
    font-size: var(--font-xs);
  }
</style>
