---
import { data } from '@/data/data.js'

import Article from './articles.item.astro'

type Props = {
  class?: string
}

const { class: className, ...rest } = Astro.props
const articleCount = 6
const allArticles = await data.articles.find()
const sortedArticles = allArticles.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
)
const hasMore = sortedArticles.length > articleCount
const articles = sortedArticles.slice(0, articleCount)
---

<div class:list={['articles', className]} {...rest}>
  <h2>Articles</h2>
  <div class='items'>
    {articles.map((article) => <Article article={article} />)}
  </div>
  {hasMore && <a href='/articles/pages/1'>View all articles</a>}
</div>

<style lang='less'>
  .articles {
    display: grid;
    gap: var(--space-lg);

    h2 {
      font-size: var(--font-xl);
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-md);
    }
  }

  @media print {
    .articles {
      display: none;
    }
  }
</style>
