---
import Header from '@/components/header/header.astro'
import { data } from '@/data/data.js'

import Html from '../html/html.astro'
import Item from './work-history.item.astro'

const allWork = await data.work.find()
const work = allWork.sort(
  (a, b) => b.data.startDate.getTime() - a.data.startDate.getTime()
)
---

<Html title='Work' description='A list of work experiences'>
  <Header />
  <div class='wrapper'>
    <h2>Work history</h2>
    <div class='list'>
      {work.map((item) => <Item item={item} />)}
    </div>
  </div>
</Html>

<style lang='less'>
  .wrapper {
    margin: 0 auto;
    max-width: var(--content-width);
    padding: var(--space-xl) var(--space-lg);
  }

  .list {
    display: grid;
    gap: var(--space-xl);
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  @media (max-width: 600px) {
    .list {
      grid-template-columns: 1fr;
      justify-content: self-end;
      align-items: self-end;
    }
  }
</style>
