---
import { Picture } from 'astro:assets'

import { data } from '@/data/data.js'

import Profile from './description.profile.astro'

type Props = {
  class?: string
}

const { class: className, ...rest } = Astro.props
const { Content, basics, image } = data.profile
---

<div class:list={['main', className]} {...rest}>
  <Picture
    class='picture'
    alt='Profile Picture'
    src={image}
    formats={['avif', 'webp', 'jpeg']}
    width={230}
  />
  <h1>{basics.name}</h1>
  <h2>{basics.tagline}</h2>
  <div class='description'>
    <Content />
  </div>
  <div class='profiles'>
    {basics.profiles.map((profile) => <Profile profile={profile} />)}
  </div>
</div>

<style lang='less'>
  @media screen and (max-width: 768px) {
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .description {
    line-height: 1.3rem;
    text-align: justify;

    p {
      margin-bottom: var(--space-md);
    }
  }

  h1 {
    font-size: var(--font-xxl);
    font-weight: bold;
    letter-spacing: 1px;
  }

  h2 {
    font-size: var(--font-lg);
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--color-text-light);
    margin-bottom: var(--space-md);
  }

  .picture {
    border-radius: 0 0 50% 0;
    width: 230px;
    height: 230px;
    clip-path: circle(43%);
    shape-outside: border-box;
    float: left;
    padding: var(--space-md);
  }

  .profiles {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-md);
    margin-top: var(--space-md);
  }
</style>
