---
import type { Article } from '@/data/data.js';
import { range } from '@/utils/data';

import Html from '../html/html.astro';

type Props = {
  pageNumber: number;
  pageCount: number;
  articles: Article[];
};
const { articles, pageNumber, pageCount } = Astro.props;
const hasPrev = pageNumber > 1;
const hasNext = pageNumber < pageCount;
---

<Html title="Articles" description="A list of articles">
  <h1>Articles</h1>
  {
    articles.map((article) => (
      <div>
        <h2>{article.data.title}</h2>
        <p>{article.data.description}</p>
      </div>
    ))
  }

  <nav>
    <a aria-disabled={!hasPrev} href={`/articles/pages/${pageNumber - 1}`}>Previous</a>
    {
      range(1, pageCount).map((page) => (
        <a
          class:list={[page === pageNumber ? 'active' : undefined]}
          href={`/articles/pages/${page}`}
        >
          {page}
        </a>
      ))
    }
    <a aria-disabled={!hasNext} href={`/articles/pages/${pageNumber + 1}`}> Next </a>
  </nav>
</Html>

<style>
  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  a {
    color: #0070f3;
    text-decoration: none;
  }

  a.active {
    font-weight: bold;
  }

  a[aria-disabled='true'] {
    color: #ccc;
    pointer-events: none;
  }
</style>
